# ===========================================
# Configuration Docker
# ===========================================

spring:
  datasource:
    url: jdbc:mysql://mysql:3307/users
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

logging:
  level:
    root: INFO
    com.example.userservice: INFO
